.site-layout-content {
  min-height: 80vh;
  padding: 24px;
  background: #fff;
}
.logo {
  float: left;
  margin-right: 24px;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
}

.product-item {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px ;
}

.board-wrapper {
  margin: 15px -10px 0;
}
